CourseWork/NodeJS/node_modules
CourseWork/NodeJS/.env
CourseWork/NodeJS/test.txt
CourseWork/ExpressJS/node_modules
CourseWork/ExpressJS/.env
CourseWork/MERN-stack Project/node_modules
CourseWork/MERN-stack ProjectExpressJS/.env
.history/
Project/backend/.env
Project/frontend/.env